/*Universal Selector*/
*{
    padding: 0;
    margin: 0;
}

/*Class Selector*/

.myDiv1{
    height: 50px;
    width: 50px;
    background-color: midnightblue;
}

.myDiv2{
    height: 50px;
    width: 50px;
    background-color: lightseagreen;
}

.myDiv3{
    height: 50px;
    width: 50px;
    background-color: olivedrab;
}

.myDiv4{
    height: 50px;
    width: 50px;
    background-color: purple;
}